$border: 1px solid #ece8e5;
$bgcolor: #fbfbfb;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    background-color: #f7f6f5;

    .main{
        padding: 20px 65px;

        .header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo{
                background: $bgcolor;
                border: $border;
                cursor: pointer;
            }
            .gallery{
                border: 1px solid #ff5000;
                background-color: $bgcolor;
                cursor: pointer;
                width: 185px;
                height: 85px;
                position: relative;

                p{
                    border-radius: 25px;
                    background: $bgcolor;
                    color: #ff5000;
                    font-size: 18px;
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 187px;
                    height: 87px;
                }
            }
        }
        .container{
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            .left{
                border: $border;
                background: $bgcolor;
                padding: 50px 20px;
                width: 531px;

                .slider_button{

                    img{
                        margin-right: 15px;
                    }
                }
                .text_container{
                    h2{
                        font-size: 20px;
                        color: #16314f;
                        margin-bottom: 20px;
                    }
                    p{
                        font-size: 14px;
                        margin-top: 10px;
                    }
                    .text_innerContainer{
                        margin-top: 40px;

                        span{
                            color: #ff5000;
                            font-size: 16px;
                        }
                    }
                }
            }
            .middle{
                display: flex;
                flex-direction: column;

                form{
                    display: flex;
                    flex-direction: column;

                    .input{
                        display: flex;
                        align-items: center;
                        width: 385px;
                        height: 97px;
                        border: 1px solid #ece8e5;
                        margin-top: 49px;
                        background-color: #fbf9f8;
                        position: relative;

                        

                        span{
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            padding-left: 30px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        input{
                            width: 100%;
                            border: none;
                            background-color: transparent;
                            outline: none;
                            text-align: right;
                            font-size: 18px;
                            color: #ff5000;
                            padding-right: 44px;
                            height: 100%;

                            &:focus{
                                border: 1px solid #000;
                            }
                        }
                        &:first-child{
                            margin-top: 0;
                        }
                    }
                }
            }
            .right{
                width: 719px;
                

                .background{
                    width: 100%;
                    height: 100%;
                    background-image: url(../public/images/background.png);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }
                button{
                    width: 100%;
                    border: 1px solid #16314f;
                    margin-top: 49px;
                    padding: 30px;
                    background-color: #fbfbfb;
                    font-size: 18px;
                    color: #16314f;
                    position: relative;
                    cursor: pointer;
                    transition: .2s ease-in-out;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;

                    .button_image1{
                        position: absolute;
                        top: 0;
                        left: -70px;
                        transition: .2s ease-in-out;
                    }
                    .button_image2{
                        position: absolute;
                        bottom: 0;
                        right: -60px;
                        transition: .2s ease-in-out;
                    }
                    img{
                        margin-left: 10px;
                    }
                    
                    &:hover{
                        border: 1px solid #ff5000;

                        .button_image1{
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 20px;
                        }
                        .button_image2{
                            display: block;
                            position: absolute;
                            bottom: 0;
                            right: 20px;
                        }
                    }
                }
            }
        }
        footer{
            margin-top: 20rem;
        }
    }
}